!!!
- @title ||= ''
%html(lang="#{@lang || 'en'}")
  /
    Hey, isn't this the best intended source you've ever seen?
    And it's HTML5 - so it must be awesome.
  %head
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content="#{@description}")
    - if @keywords
      %meta(name="keywords" content="#{@keywords.map{ |keyword| keyword.downcase }.join(',')}")
    %meta(name="date" content="#{(@date || Time.now).strftime('%Y-%m-%d')}")
    %title&= [@title, ('Nico Hagenburger' if @title.length < 45)].compact.join(' ··· ').strip
    %link(rel="apple-touch-icon" href="#{asset_url('apple-touch-icon.png')}")
    %link(rel="alternate" type="application/rss+xml" href="#{asset_url('hagenburger.rss')}")
    %link(rel="stylesheet" href="#{asset_url('stylesheets/hagenburger.css?4')}")
    - if @stylesheet
      %link(rel="stylesheet" href="#{asset_url("stylesheets/#{@stylesheet}.css")}")
    - if css = @css || yield_content(:css)
      %style(type="text/css")
        :plain
          /* Additional CSS code for this blog post: */
          #{css}
    %script(src="//use.typekit.com/nbn2flh.js" async onload="try{Typekit.load()}catch(e){}")
  %body
    #nico-hagenburger
      %header
        %a(href="#{asset_url('')}")<
          %img#logo(src="#{asset_url('images/nico-hagenburger-ruby-on-rails.png')}" alt="Nico Hagenburger — #{(@keywords || [] + ['Ruby on Rails', 'Haml', 'Sass', 'HTML5'])[0..6].join(', ')}")
        %nav<
          = link_to 'Home', '..'
          = link_to 'Blog', '../BLOG.html'
          = link_to 'Contact', '../CONTACT.html'
          = link_to 'Portfolio', '../PORTFOLIO.html'
        %div<
          %strong> Hi, I’m Nico Hagenburger
          %br>
          My pleasure is designing
          %br>
          clean, simple websites
          %br>
          and developing web applications in Ruby on Rails.
      #content
        %article.post{ :slug => @slug }
          = yield
        = partial 'twitter'
    %footer
      %a#github(href="http://github.com/hagenburger")
        %span Fork me on GitHub!
        %span Get free lemonade!
      %small<
        © Nico Hagenburger/Hagenburger GmbH 2000—#{Time.now.year} · Blog posts published under CC share alike licence (except design and artwork or otherwise mentioned)
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script !window.jQuery && document.write(unescape('%3Cscript src="#{asset_url('javascripts/vendor/jquery-1.4.2.min.js')}"%3E%3C/script%3E'))
    = javascripts :hagenburger
    - if javascript = @jquery || @javascript || yield_content(:javascript)
      %script
        \/* Additional JavaScript code for this blog post: */
        $(function(){#{javascript}})
    /
      You've just read it till the end.
      If you're that fascinated, you definitaly have to hire me.  /
    You've just read it till the end.
    If you're that fascinated, you definitaly have to hire me.