- date_format = '%Y-%m-%d'
- now = Time.now.strftime(date_format)
!!! XML
%urlset(xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  %url
    %loc http://www.hagenburger.net/
    %lastmod= now
    %changefreq daily
    %priority 1.0
  %url
    %loc http://www.hagenburger.net/BLOG.html
    %lastmod= now
    %changefreq daily
    %priority 0.5
  %url
    %loc http://www.hagenburger.net/CONTACT.html
    %lastmod= now
    %changefreq weekly
    %priority 0.3
  %url
    %loc http://www.hagenburger.net/PORTFOLIO.html
    %lastmod= now
    %changefreq weekly
    %priority 0.7
  - blog "BLOG" do |post|
    %url
      %loc= 'http://www.hagenburger.net/' + post.permalink
      %lastmod= post.date.strftime(date_format)
      %changefreq weekly
      %priority 0.8