/
   
  ┌───────────────┐
  │               │
  │               │
  │               │
  │               │
  │      │        │
  │      ├─┐      │
  │      │ ╵      │
  │               │
  │  HAGENBURGER  │
  │               │
  └───────────────┘
   
  WELCOME TO MY SOURCE!
   
  Hey, isn’t this the best indented source you’ve ever seen?
  And it’s HTML5—so it must be awesome.
   
  If you want to see the “real” source of this website, check out:
  https://github.com/hagenburger/hagenburger
  (And don’t forget to star the project and to follow me there ^^)
   
%head
  %meta(charset="utf-8")
  - if current_page.data.description
    %meta(name="description" content="#{current_page.data.description}")
  - if current_page.data.keywords
    %meta(name="keywords" content="#{current_page.data.keywords}")
  %meta(name="date" content="#{(@date || Time.now).strftime('%Y-%m-%d')}")
  %meta(property="og:site_name" content="hagenburger.net")
  %meta(property="og:title" content="#{current_page.data.og_title || current_page.data.title}")
  %meta(property="og:image" content="#{current_page.data.og_image || asset_url('hagenburger.jpg')}")
  %title&= [current_page.data.title, ('Nico Hagenburger' if current_page.data.title.length < 45)].compact.join(' ··· ').strip
  %link(rel="apple-touch-icon" href="#{asset_url('apple-touch-icon.png')}")
  %link(rel="alternate" type="application/rss+xml" href="#{asset_url('hagenburger.rss')}")
  %link(rel="stylesheet" href="#{asset_url('stylesheets/hagenburger.css?2')}")
  - if css = @css || yield_content(:css)
    %style(type="text/css")= css
  %script(src="//use.typekit.com/fal4qpz.js" async onload="try{Typekit.load()}catch(e){}")
  - if @stylesheet
    %link(rel="stylesheet" href="#{asset_url("stylesheets/#{@stylesheet}.css")}")
  - javascript = @jquery || @javascript || yield_content(:javascript)
  %script for(var e,l='article aside figcaption figure footer header nav section time'.split(' ');e=l.pop();document.createElement(e));try{Typekit.load()}catch(e){};document.getElementsByTagName('HTML')[0].className+=' js'

