!!!
%html(lang="#{@lang || 'en'}" class="#{page_classes.gsub('_', '-').downcase} no-js")
  = partial 'layouts/head'
  %body.layout
    .layout--container
      %header.layout--header
        %a(href="#{asset_url('.')}")<
          %img.layout--logo(src="#{asset_url('images/nico-hagenburger-ruby-on-rails.png')}" alt="Nico Hagenburger — #{(@keywords || [] + ['Ruby on Rails', 'Haml', 'Sass', 'HTML5'])[0..6].join(', ')}")
        %nav.layout--navigation<
          = link_to 'Home', asset_url('.'), class: 'layout--navigation-item'
          = link_to 'Blog', asset_url('BLOG.html'), class: 'layout--navigation-item'
          = link_to 'Contact', asset_url('CONTACT.html'), class: 'layout--navigation-item'
          = link_to 'Portfolio', asset_url('PORTFOLIO.html'), class: 'layout--navigation-item'
        .layout--tagline<
          %strong> Hi, I’m Nico Hagenburger
          %br>
          I enjoy designing
          %br>
          clean, simple websites
          %br>
          and developing web applications in Ruby on Rails.
      .layout--content
        - if request.url =~ %r(/BLOG/)
          %article.post{ :slug => @slug }
            = yield
          = partial 'twitter'
        - else
          = yield
    %footer.layout--footer
      %a#github(href="https://github.com/hagenburger")
        %span Fork me on GitHub!
        %span Get free lemonade!
      %small<
        © Nico Hagenburger/Hagenburger GmbH 2000—#{Time.now.year} · Blog posts published under CC share alike licence (except design and artwork or otherwise mentioned)
    = javascript_include_tag 'hagenburger'
  /
     
    You’ve just read it till the end.
    If you're that fascinated, you definitely have to hire me.
     

