- require 'time'
- @layout = 'rss'
- blog "BLOG" do |post|
  - @last_build_date = post.date if @last_build_date.nil? or @last_build_date < post.date
  %item
    %title&= post.title
    %link&= 'http://www.hagenburger.net/' + post.permalink
    %description&= post.description
    %author Nico Hagenburger
    %guid= post.permalink
    %pubDate= post.date.rfc2822
