!!!
%html(lang="#{@lang || 'en'}")
  /
    Hey, isn't this the best intended source you've ever seen?
    And it's HTML5 - so it must be awesome.
  %head
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content="#{@description}")
    - if @keywords
      %meta(name="keywords" content="#{@keywords.map{ |keyword| keyword.downcase }.join(',')}")
    %meta(name="date" content="#{(@date || Time.now).strftime('%Y-%m-%d')}")
    %meta(name="og:site_name" content="hagenburger.net")
    %meta(name="og:title" content="#{@og_title || [@title].flatten.first}")
    %meta(name="og:image" content="#{@og_image || current_page_relative_path + 'apple-touch-icon.png'}")
    %title&= [@title, ('Nico Hagenburger' if @title.length < 45)].compact.join(' ··· ').strip
    %link(rel="apple-touch-icon" href="#{current_page_relative_path}apple-touch-icon.png")
    %link(rel="alternate" type="application/rss+xml" href="#{current_page_relative_path}hagenburger.rss")
    %link(rel="stylesheet" href="#{current_page_relative_path}stylesheets/beijing.css")
    - if @stylesheet
      %link(rel="stylesheet" href="#{current_page_relative_path}stylesheets/#{@stylesheet}.css")
    = javascripts :hagenburger, :beijing
  %body
    = yield
    %footer
      %a(href="http://www.hagenburger.net/")<
        © Nico Hagenburger/Hagenburger GmbH 2000—#{Time.now.year}
    - if @jquery
      :javascript
        $(function(){#{@jquery}})
    %script(src="http://api.map.baidu.com/api?key=fd5efa8387d5b7339adcf17c5f8eb83d&v=1.1&services=true")
  /
    You've just read it till the end.
    If you're that fascinated, you definitaly have to hire me.