!!!
%html(lang="#{@lang || 'en'}")
  /
    Hey, isn't this the best intended source you've ever seen?
    And it's HTML5 - so it must be awesome.
  %head
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content="#{@description}")
    - if @keywords
      %meta(name="keywords" content="#{@keywords.map{ |keyword| keyword.downcase }.join(',')}")
    %meta(name="date" content="#{(@date || Time.now).strftime('%Y-%m-%d')}")
    %title&= [@title, ('Nico Hagenburger' if @title.length < 45)].compact.join(' ··· ').strip
    %link(rel="alternate" type="application/rss+xml" href="#{current_page_relative_path}hagenburger.rss")
    %link(rel="stylesheet" href="#{current_page_relative_path}stylesheets/hagenburger.css?2")
    - if @stylesheet
      %link(rel="stylesheet" href="#{current_page_relative_path}stylesheets/#{@stylesheet}.css")
    = javascripts_compressed('hagenburger', 'typekit', 'jquery', 'jquery.easing.1.3', 'analytics', 'application').gsub('t><s', "t>\n<s")
  %body
    #nico-hagenburger
      %header
        = link img('nico-hagenburger-ruby-on-rails.png', :alt => "Nico Hagenburger — #{(@keywords || [] + ['Ruby on Rails', 'Haml', 'Sass', 'HTML5'])[0..6].join(', ')}"), '/', :id => 'logo'
        %nav<
          = link 'Home', '/'
          = link 'Blog', 'BLOG.html'
          = link 'Contact', 'CONTACT.html'
          = link 'Portfolio', 'PORTFOLIO.html'
        %div<
          %strong> Hi, I’m Nico Hagenburger
          %br>
          My pleasure is designing
          %br>
          clean, simple websites
          %br>
          and developing web applications in Ruby on Rails.
      #content
        = yield
        - if current_page =~ /BLOG\/.+\.html/
          = partial '../pages/twitter'
    %footer
      %a#github(href="http://github.com/hagenburger")
        %span Fork me on GitHub!
        %span Get free lemonade!
      %small<
        © Nico Hagenburger/Hagenburger GmbH 2000—#{Time.now.year} · Blog posts published under CC share alike licence (except design and artwork or otherwise mentioned)
    - if @jquery
      :javascript
        $(function(){#{@jquery}})
  /
    You've just read it till the end.
    If you're that fascinated, you definitaly have to hire me.