- require 'time'
%rss(version="2.0")
  %channel
    %title Nico Hagenburger
    %link http://www.hagenburger.net
    %description I’m Nico Hagenburger. I’m doing websites with Ruby on Rails, HTML5, Haml, Sass/SCSS, jQuery and CoffeeScript.
    %lastBuildDate= Time.now.rfc2822
    %generator Middleman + Blog script by Nico Hagenburger
    %language en
    - blog.articles.each do |article|
      - @last_build_date = article.date if @last_build_date.nil? or @last_build_date < article.date
      %item
        %title&= article.title
        %link&= 'http://www.hagenburger.net' + article.url
        %description&= article.data.description
        %author Nico Hagenburger
        %guid= article.url
        %pubDate= article.date.rfc2822
