- @title = 'Concepts, Design, Frontends & Ruby on Rails'
- @description = 'I’m Nico Hagenburger. I’m doing websites with Ruby on Rails, HTML5, Haml, Sass/SCSS & CSS3. And you should click me.'
#welcome
  %h1 Hi, I’m Nico Hagenburger
  %p
    I enjoy designing clean, simple websites 
    %br
    and developing web applications in Ruby on Rails.
.blog-posts
  %h2.blog-posts--title Blog
  = link_to 'See all articles', 'BLOG.html', class: 'blog-posts--more'
  %ol.blog-posts--list
    - blog "BLOG", 4 do |post|
      %li.blog-posts--item
        %h3.blog-posts--item-title
          %a(href="#{post.permalink}")&= post.title
        %p.blog-posts--item-abstract&= post.description
.talks
  %h2.talks--title Talks
  %p.talks--more
    All my talks on
    = link_to 'Speakerdeck', 'https://speakerdeck.com/hagenburger'
    and
    = link_to 'Slideshare', 'http://slideshare.net/hagenburger'
  %ol.talks--list
    - data.talks.each do |talk|
      %li.talks--item
        %a(href="#{talk.url}" title="#{talk.title}")
          = image_tag "talks/#{talk.image}", alt: talk.title, class: 'talks--item-thumbnail'
          %span.talks--item-title= talk.title

= partial 'twitter'
