---
title: Concepts, Design, Frontends & Ruby on Rails
description: I’m Nico Hagenburger. I’m doing websites with Ruby on Rails, HTML5, Haml, Sass/SCSS & CSS3. And you should click me.
---

#welcome
  %h1 Hi, I’m Nico Hagenburger
  %p
    I enjoy designing clean, simple websites
    %br
    and developing web applications in Ruby on Rails.
.blog-posts#blog-posts
  %h2.blog-posts--title Blog
  = link_to 'See all articles', 'BLOG.html', class: 'blog-posts--more'
  %ol.blog-posts--list
    - blog.articles[0...4].each do |article|
      %li.blog-posts--item
        %h3.blog-posts--item-title
          %a(href="#{article.url}")&= article.title
        %p.blog-posts--item-abstract&= article.data.description
.talks#talks
  %h2.talks--title Talks
  %p.talks--more
    All my talks on
    = link_to 'Speakerdeck', 'https://speakerdeck.com/hagenburger'
    and
    = link_to 'Slideshare', 'http://slideshare.net/hagenburger'
  %ol.talks--list
    - data.talks.each do |talk|
      %li.talks--item
        %a(href="#{talk.url}" title="#{talk.title}")
          = image_tag "talks/#{talk.image}", alt: talk.title, class: 'talks--item-thumbnail'
          %span.talks--item-title= talk.title

= partial 'twitter'

.dribbble-shots#dribbble-shots
  %h2.dribbble-shots--title Dribbble Shots
  %p.dribbble-shots--more
    All shots on my
    = link_to 'Dribbble portfolio', 'http://dribbble.com/hagenburger'
  %ol.dribbble-shots--list
    - dribbble_shots.each do |shot|
      %li.dribbble-shots--item
        %a(href="#{shot.link}")
          - image_url = shot.description.match(/src="(.+?)"/)[1]
          = image_tag image_url, alt: shot.title, class: 'dribbble-shots--item-thumbnail'
